<p>ekleme servisi</p>
<from action="/Urun/Ekle"Method="post">
    <label for="Ad">Ad</label>
    <input type="text" name="Ad"/>
    <label type="Stok">Stok</label>
    <input type="text" name="Stok"/>
    <button>Kaydet</button>
    </from>